.chat_window{
	margin-left: 35%;
	height: calc(100vh - 120px);
}
.messages{
	height: calc(110vh - 250px);
}

.messages .message.left .text {
    color: black;
    font-weight: inherit;
}

#msg_input{
    color: black;
}