{% extends "base.html" %}

{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/chat_interface.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'css/temporary.css' %}">


<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Open+Sans:300|Oxygen|Material+Icons" rel="stylesheet">
<style>
.badge {
    background-color: #3F51B5 !important;
}

</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <div class="chat_window" style="width: 128%;">
                <ul class="messages"></ul>
                <div class="bottom_wrapper clearfix">
                    <div class="message_input_wrapper">
                        <input id="msg_input" class="message_input" placeholder="Say Hi to begin chat..." />
                    </div>
                    <div class="send_message">
                         <div class="text">send</div>
                    </div>
                </div>
            </div>
            <div class="message_template">
                <li class="message">
                    <div class="avatar"></div>
                    <div class="text_wrapper">
                        <!--<pre class="pre-txt">-->
                            <div id="" class="text text1" style="cursor: pointer;">
                            </div>
                        <!--</pre>-->
                    </div>
                </li>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-dialog-centered">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <pre class="dia-text">Some text in the modal.</pre>

            <!--<script>-->

                <!--$(document).on('click', ".text1", function () {-->
                    <!--text1 = $(this).text();-->
                    <!--console.log(text1)-->
                    <!--$(".file").remove();-->
                    <!--if(text1 == "The document describes the steps to ensure effective service system performance and ensure that resources are provided and used effectively to support service requirements.\-->
                        <!--Open Detail"-->
                    <!--|| text1 == "This procedure is suitable for all the project sin the Organization.\-->
                         <!--\-->
                        <!--Below are the overviews for this procedure \-->
                        <!--Prepare for the Capacity and Availability Management \-->
                        <!--Identify the capacity and availability strategy \-->
                        <!--Plan Capacity and Availability \-->
                        <!--Measurement and analytic technique\-->
                        <!--Monitor and Analyze the Capacity and Availability Management\-->
                        <!--Collect Data\-->
                        <!--Analyze Data\-->
                        <!--Report the Capacity and Availability Open Detail") {-->
                            <!--$('.modal-body').append('<a class="file" href="{% static 'Comtop_Ref_Processes/Capacity_and_Availability_Management/Capacity_and_Availability_Management_Procedure_V0.1.docx' %}" download="file.doc"><span class="badge badge-primary">Refrence Document</span></a>')-->
                    <!--}-->
                    <!--else if(text1 == "Introduction Open Detail" || text1 == "Service Continuity ProcessOpen Detail"-->
                    <!--|| text1 == "Support ProcessesOpen Detail") {-->
                        <!--$('.modal-body').append('<a class="file" href="{% static 'ReferenceDocs/Service Continuty_Ver 1.0.doc' %}" download="file.doc"><span class="badge badge-primary">Refrence Document</span></a>')-->
                    <!--}-->
                    <!--else if(text1 == "PurposeOpen Detail" || text1 == "Responsibility/AuthorityOpen Detail" ||-->
                    <!--text1 == "Special ConsiderationsOpen Detail" || text1 == "InputsOpen Detail" ||-->
                     <!--text1 == "Entry CriteriaOpen Detail" || text1 == "ActivitiesOpen Detail"-->
                     <!--|| text1 == "OutputsOpen Detail" || text1 == "Exit CriteriaOpen Detail"-->
                     <!--|| text1 == "TemplatesOpen Detail" || text1 == "Guidelines / ReferencesOpen Detail"-->
                     <!--|| text1 == "Reviews & ApprovalsOpen Detail" || text1 == "AcronymsOpen Detail") {-->
                        <!--$('.modal-body').append('<a class="file" href="{% static 'ReferenceDocs/Service Strategy Process.doc' %}" download="file.doc"><span class="badge badge-primary">Refrence Document</span></a>')-->
                    <!--}-->
                <!--})-->
            <!--</script>-->
            <!--<a href="{% static 'ReferenceDocs/demo.txt' %}" download="file.txt">-->
                <!--<span class="badge badge-primary">Refrence Document</span>-->
            <!--</a>-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn .btn-warning" data-dismiss="modal" style="background-color: coral;">Close</button>
        </div>
      </div>
    </div>
</div>


{% endblock %}

{% block other_footers %}
<script src="{% static 'js/bind.js' %}"></script>
{% endblock %}