<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<title>convForm - example</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'dist/jquery.convform.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}">
    <script src="{% static 'js/jquery-1.12.3.min.js' %}"></script>
        <script src="{% static 'dist/autosize.min.js' %}"></script>
    <script src="{% static 'dist/jquery.convform.js' %}"></script>

</head>
<body>
	<section id="demo">
	    <div class="vertical-align">
	        <div class="container">
	            <div class="row">
	                <div class="col-sm-6 col-sm-offset-3 col-xs-offset-0">
	                    <div class="card no-border">
	                        <div id="chat" class="conv-form-wrapper">
                                <!--<form action="" method="POST" class="hidden">-->
                                    <!--{% csrf_token %}-->
                                    <select class="dropdownList" data-conv-question="Hello! Iam a bot | created from a HTML form.
                                            Can I show you some features? (this question comes from a select)"
                                            name="conversation">
                                        <option value="who are you?">who are you?</option>
                                        <option value="what do you do?">what do you do?</option>
                                    </select>
                                    <script>
                                        console.log('{{obj}}')
                                    </script>
                                <!--</form>-->
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>

	<!--<script type="text/javascript">-->
	    <!--response = ""-->
		<!--$(document).ready(function(){-->
            <!--$('.dropdownList').on('change',function(){-->
                <!--var optionValue = $(this).val();-->
                <!--console.log(optionValue)-->
                <!--$.post("/chat",-->
                <!--{-->
                    <!--//csrfmiddlewaretoken:csrf,-->
                    <!--text:optionValue,-->
                <!--},-->
                <!--function(jsondata, status){-->
                    <!--if(jsondata["status"]=="success"){-->
                        <!--response=jsondata["response"];-->

                        <!--if(response){-->
                            <!--console.log(response)-->
                        <!--}-->
                    <!--}-->
                <!--});-->

            <!--})-->
        <!--})-->
	<!--</script>-->

	<script>
    $(document).ready(function(){
        $('.dropdownList').on('change',function(){
            var optionValue = $(this).val();
            console.log("----", optionValue);
            $.post("chat",
            {
                'csrfmiddlewaretoken': '{{ csrf_token }}',

                text:optionValue,
            },
            function(jsondata, status){
                if(jsondata["status"]=="success"){
                    response=jsondata["response"];
                    if(response){
                        console.log(response)
                        var s = $("<select class=\"dropdownList\" name=\"conversation\" conv-question=\"What kind of music do you like?\" />");
                        response.forEach(function(d) {
                        console.log(d)
                        $("<option />", {value: d, text: d}).appendTo(s);
                        });
                        s.appendTo("#chat");

                    }
                }
            });

        })

    });

		function google(stateWrapper, ready) {
			window.open("https://google.com");
			ready();
		}
		function bing(stateWrapper, ready) {
			window.open("https://bing.com");
			ready();
		}
		var rollbackTo = false;
		var originalState = false;
		function storeState(stateWrapper, ready) {
			rollbackTo = stateWrapper.current;
			console.log("storeState called: ",rollbackTo);
			ready();
		}
		function rollback(stateWrapper, ready) {
			console.log("rollback called: ", rollbackTo, originalState);
			console.log("answers at the time of user input: ", stateWrapper.answers);
			if(rollbackTo!=false) {
				if(originalState==false) {
					originalState = stateWrapper.current.next;
						console.log('stored original state');
				}
				stateWrapper.current.next = rollbackTo;
				console.log('changed current.next to rollbackTo');
			}
			ready();
		}
		function restore(stateWrapper, ready) {
			if(originalState != false) {
				stateWrapper.current.next = originalState;
				console.log('changed current.next to originalState');
			}
			ready();
		}
	</script>
	<script>
		jQuery(function($){
			var convForm = $('#chat')
			console.log(convForm.convform())
		});
	</script>

</body>
</html>